<html>
  <body>
    <form
      action="/process-image"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" />
      <input type="submit" />
    </form>

    <div>
      {% if image %}
      <h3>Your Image</h3>
      <img src="{{ image }}" />
      {% else %}
      <h1>Image will be render here...</h1>
      {% endif %}
    </div>
    <div>
      {% if processed_image %}
      <h3>Processed Image</h3>
      <img src="{{ processed_image }}" />
      {% else %}
      <h1>Image will be render here...</h1>
      {% endif %}
    </div>
  </body>
</html>
